body {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;
}

/* estilos del header */
.header {
  background-color: #e6e6e6;
}

.main-photo {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 10%;
}

/* estilos título principal */
.main-title {
  background-color: rgb(51, 83, 132);
  color: #f1f1f1;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

/* estilos sección principal */
main {
  padding-bottom: 40px;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 75%;
}

section a {
  color: #000;
  border: 2px solid rgb(51, 83, 132);;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  text-decoration: none;
  width: 20%;
}

section a:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

h2 {
  background-color: rgb(51, 83, 132);
  border-radius: 5px;
  color: #f1f1f1;
  padding-left: 10px;
}

p {
  margin: 0;
}

div {
  margin-bottom: 10px;
}

.bold-span {
  font-weight: bold;
}

.academic-info,
.work-info {
  margin-left: 40px;
}

.academic-institution,
.work-position {
  margin-left: 50px;
}

.academic-extra-info,
.work-extra-info {
  margin-left: 165px;
}

/* estilos del footer */
footer {
  background-color: rgb(51, 83, 132);
  bottom: 0;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  left: 0;
  position: fixed;
  width: 100%;
}

footer p {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer a {
  display: block;
  margin-top: 10px;
  margin-left: 5px;
}

footer a img {
  width: 25px;
}